body{
  font-family: 'Libre Baskerville', serif;
}
#menu{
  width: 100%;
  height: 500px;
  background-image: url("../images/b_img.jpg");
}
#img1{
  margin-left: 47%;
  margin-top: 15%;
}
#img2{
  margin-left: 49%;
  margin-top: 2%;
}
#one{
  color: white;
  margin-left: 45%;
}
#two{
  color: white;
  margin-left: 38%;
}
#menu{
  display: block;
}
#about{
  width: 70%;
  margin: 10px 15%;
}
#about h1{
  margin-left: 36%;
}
#services{
  width: 100%;
  height: 300px;
  background-image: url("../images/s_image.jpg");
  color: rgb(255, 255, 255);
}
#services h1{
  margin-left: 40%;
  margin-top: 10%;
}
#services p{
  margin-left: 2%;
}
